#app-bar {
  -webkit-app-region: drag;

  display: flex;
  justify-content: space-between;

  .app-bar_menu {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;

    button {
      padding: 8px;

      &:hover {
        background-color: transparent;
      }
    }

  }

  .app-bar_title {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 8px;
    height: 30px;
    line-height: 30px;
    color: var(--theme-color);
    font-size: 14px;

    img {
      height: 16px;
    }
  }

  .app-bar_button-container {
    display: flex;
    height: 100%;
    -webkit-app-region: no-drag;

    .btn {
      height: 30px;
      width: 40px;
    }
  }
}

.menu-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;

  width: 100%;
  padding: 0 8px;

  .icon-bar {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--menu-color);
  }

  .top,
  .center,
  .bottom {
    transition: transform 200ms ease-out;
  }

  .center,
  .bottom {
    transform-origin: left;
  }

  &.open {

    .top {
      transform: translateY(-2px);
    }

    .center {
      transform: rotate(45deg) translateY(-2px) scaleX(0.55);
    }

    .bottom {
      transform: rotate(-45deg) translateY(2px) scaleX(0.55);

    }

    // .bottom {
    //   transform: rotate(30deg) translateY(-9px) translate(8px) scaleX(0.5);
    // }


  }
}