#appdrawer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 0px;

  overflow: hidden;

  // border-right: 1px solid var(--border-color);

  &.open {
    width: 50px;
  }

  .appdrawer-bg {
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
  }

}