

#backdrop {

  position: absolute;
  inset: 0 0 0 0;
  background-color: #00000000;
  opacity: 0.1;
  transition: background-color 400ms ease;

  &.show {
    background-color: var(--theme-color);
  }
}